@tailwind base;
@tailwind components;
@tailwind utilities;

/* Primary color: Green 221.54deg 17.33% 14.71%; */
/* Secondary color: blackish 221.54deg 17.33% 14.71% */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.54deg 17.33% 14.71%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 44%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.54deg 17.33% 14.71%;
    --radius: 0.5rem;
    --border-error: 0 72% 51%;
    --highlight-yellow: 48.6 100% 60%;
    --highlight-green: 120 100% 50%;
  }

  .dark {
    --background: 210 100% 6%;
    --foreground: 180deg 100% 94.51%;
    --primary: 200 100% 28%;
    --primary-foreground: 180deg 100% 94.51%;
    --secondary: 203 23% 30%;
    --secondary-foreground: 180deg 100% 94.51%;
    --accent: 198 70% 50%;
    --accent-foreground: 185 10% 13%;
    --destructive: 0 98% 44%;
    --destructive-foreground: 0 0% 100%;
    --muted: 200deg 56.36% 17.55%;
    --muted-foreground: 180deg 100% 94.51%;
    --card: 210 100% 12%;
    --card-foreground: 180deg 100% 94.51%;
    --popover: 210 100% 15%;
    --popover-foreground: 180deg 100% 94.51%;
    --border: 210 50% 40%;
    --input: 210 50% 40%;
    --ring: 180deg 100% 94.51%;
    --radius: 0rem;
    --border-error: 0 98% 60%;
    --highlight-yellow: 48.6 100% 60%;
    --highlight-green: 120 100% 50%;
  }
}

.text-truncate-2-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 4px 7px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
